<.header>
  New Business
  <:subtitle>Use this form to manage business records in your database.</:subtitle>
</.header>

<.business_form changeset={@changeset} action={~p"/businesses"} />

<.back navigate={~p"/businesses"}>Back to businesses</.back>
